* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-flow: column;
}

.box {
  /* background-color: red; */
  width: 830px;
  align-self: center;
}

.title {
  font-size: 18px;
  display: block;
  text-align: center;
  overflow: visible;
  margin-top: 20px;
}

.title > span {
  font-weight: 600;
}

.horizontal {
  display: flex;
  align-items: center;
  margin: 40px 0 25px 0;
}

hr {
  flex: 1;
  background: #555;
}

.head1 {
  /* background-color: orange; */
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  color: blueviolet;
}

.body1 {
  text-align: center;
  padding: 5px 10px;
  border: 1px solid #555;
  border-radius: 7px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #a1a1a1;
  border-radius: 50%;
  display: inline-block;
}

.dot.new {
  background-color: blueviolet;
}

.row {
  display: flex;
  margin-bottom: 5px;
  flex: 1;
}

.row > div:nth-child(2) {
  margin: 0 5px;
}

.row > div {
  display: flex;
  height: 50px;
  flex: 1;
  border: 1px solid #555;
  border-radius: 7px;
  align-items: center;
  padding-left: 10px;
  position: relative;
}

.bottom-right {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 13px;
}

.opacity {
  opacity: 0.5;
}
