* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  margin-top: 5px;
  /* height: 100vh; */
}

ol,
ul,
li {
  list-style: none;
}

body {
  /* background-color: black; */
  display: flex;
  justify-content: center;
}

#header {
  display: flex;
  width: 90%;
  align-items: center;
  /* background-color: aqua; */
}

.logo {
  display: flex;
  align-items: center;
}

.logo > img {
  width: 240px;
  height: 40px;
}

.navbar {
  display: flex;
  height: 100%;
  align-items: center;
}

.nav_item {
  padding: 0 12px;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar > li::after {
  content: "⌄";
  margin-left: 4px;
  margin-bottom: 10px;
  font-size: 14px;
}

.navbar_end {
  /* background-color: red; */
  /* height: 50%;
  width: 15%; */
  display: flex;
  padding: 10px 15px;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  /* margin-left: 60px; */
}

.nav_column {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.nav_column > span {
  height: 80%;
  font-size: 25px;
}

.nav_column > img {
  height: 30px;
  margin-left: 10px;
}

.nav-right {
  /* background-color: red; */
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

/* responsive for ipad mini */
@media screen and (max-width: 1324px) {
  .navbar_end {
    display: none;
  }
}
